.polka {
  background-image: 
    radial-gradient(rgb(0, 255, 157) 30%, transparent 30%),
    radial-gradient(rgb(0, 255, 157) 30%, transparent 30%);
  background-position: 0px 0px, 80px 80px;
  background-size: 160px 160px;
  background-color: rgb(47, 93, 34);
}