.polka {
  background-image: 
    radial-gradient(rgb(255, 255, 255) 10%, transparent 15.6%),
    radial-gradient(rgb(255, 255, 255) 10%, transparent 15.6%);
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-color: rgb(254, 169, 239);
}

body {
  font-family: Doto;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 24px;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

h2 {
  font-size: 30px;
  font-weight: 1000;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: center;
  justify-content: center;
  align-items: center;
}

a {
  display: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 1000px;
  color: white;
  background-color: black;
}

a:visited {
  color: red; 
}

a:active {
  color: lightgreen; 
}

iframe {
  width: 100%;
  display: center;
  justify-content: center;
  align-items: center;
}